%ul.thumbnails
  - @courses.each do |course|
    %li.span4
      =link_to course, {class: 'thumbnail course-card', style:'text-decoration: none;'} do
        = image_tag(course.logo, {alt:course.name, class:'course-logo'})
        .caption{style:'border-top: 1px solid #dddddd; margin-top: 5px;'}
          %h4=course.name
          %p.course-short-description=course.short_summary
          %p #{course.organisation} | #{course.start_date}