%li{class: ('active' if section == @section)}
  = link_to section.name, [@course, section]
  - if can? :edit, @course
    .edit-link
      = link_to [:edit, @course, section] do
        = content_tag 'i', '', class: 'icon-pencil'
