%li.span4.course
  =link_to preview_course_path(course), {class: 'thumbnail course-card', style:'text-decoration: none;'} do
    = image_tag(course.logo, {alt:course.name, class:'course-logo'})
    .caption
      %h4=course.name
      %p.description=course.short_summary
      .meta
        .item= course.organisation
        .item= course.start_date