- content_for :title_section, "Курс #{@course.name}"

.row
  .span8
    %h1=@course.name
    %div=@course.description
  .span4
    %div=@course.organisation
    %div
      #{@course.start_date} - #{@course.end_date}
      =link_to 'Вступить', 'apply_for_course',{class:'btn'}