- content_for :title_section, "Курс #{@course.name}"

.page-title=@course.name
.row.course-preview
  .span8
    %div=raw(@course.description)
  .span4
    %table.table
      -#%tr
      -#  %th{colspan: 2}
      -#    Описание
      %tr
        %td Организация
        %td= @course.organisation
      %tr
        %td Начало курса
        %td= l @course.start_date, format: :long
      %tr
        %td Конец курса
        %td= l @course.end_date, format: :long
      %tr
        %td{colspan: 2}
          - if can? :apply, @course
            =link_to 'Вступить', apply_course_path(@course), {class:'btn', method: 'post'}
          - else
            =link_to 'Вступить', new_user_session_path, {class:'btn'}
