- content_for :title_section, "Курс #{@course.name}"


.row
  .span8
    .page-title=@course.name
    %div=raw(@course.description)
  .span4
    %div=@course.organisation
    %div
      #{@course.start_date} - #{@course.end_date}
      - if can? :apply, @course
        =link_to 'Вступить', apply_course_path(@course), {class:'btn', method: 'post'}
      - else
        =link_to 'Вступить', new_user_session_path, {class:'btn'}
