- content_for :title_section, "Курс #{@course.name}"
#course
  .row
    %h2=@course.name
    - if can? :edit, @course
      = link_to '[Edit]', [:edit, @course]


  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        = render @sections

    .span8
      %ul.nav.nav-pills
        = render @materials
      %div
        =@material.data