- content_for :title_section, "Курс #{@course.name}"

.row
  %h1=@course.name
  = link_to 'Редактировать', :edit_course if can? :edit, @course
.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      = render @sections
  .span9
    .row
      %ul.nav.nav-pills
        = render @materials
    .row
    %div
      =@material.data