- content_for :title_section, "Курс #{@course.name}"

.row
  %h1=@course.name
.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      -@course.course_sections.each do |course_section|
        %li
          =link_to course_section.name, :course_section
  .span9
    %div
      %iframe{width:'420', height:'315', src:'http://www.youtube.com/embed/{{ lecture.data }}', frameborder:'0', allowfullscreen:''}         