- content_for :title_section, "Курс #{@course.name}"

.row
  %h1=@course.name
.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      -@course_sections.each do |course_section|
        -if current_page? study_material_path(@course, @selected_course_section, 0)
          %li.active
            =link_to course_section.name, study_material_path(@course, @selected_course_section, 0)
        -else
          %li
            =link_to course_section.name, study_material_path(@course, @selected_course_section, 0)
  .span9
    .row
      %ul.nav.nav-pills
        -@selected_course_section.study_materials.each do |study_material|
          -if current_page? study_material_path(@course, @selected_course_section, study_material)
            %li.active
              =link_to study_material.name, study_material_path(@course, @selected_course_section, study_material)
          -else
            %li
              =link_to study_material.name, study_material_path(@course, @selected_course_section, study_material)
    .row
    %div
      =@selected_study_material.data