@import bootstrap


#course
  .row:first-child
    position: relative
    display: inline-block
    padding-right: 40px
    h2, a
      display: inline-block
    a
      vertical-align: super

.nav-pills, .nav-tabs
  li
    position: relative
    > a
      padding-right: 30px

.edit-link
  position: absolute
  right: 10px
  top: 8px
