%li{class: ('active' if material == @material)}
  = link_to [@course, @section, material], title: material.name do
    -#= material.name
    = content_tag 'i', '', class: "icon-#{material.study_material_type.downcase}"