%li{class: ('active' if material == @material)}
  = link_to material.name, [@course, @section, material]
  - if can? :edit, material
    .edit-link
      = link_to [:edit, @course, @section, material] do
        = content_tag 'i', '', class: 'icon-pencil'
